<!DOCTYPE html>
<html lang="en">
{{>header}}
{{>navbar}}
<body>
    <div class ="container">
        <div class ="text">User Login</div>
        <form action="#">
            <div class ="data">
                <label for ="email">Email</label>
                <input type="text" name="email" id ="email">
            </div>
            <div class ="data">
                <label for ="Password">Password</label>
                <input type="Password" name="password" id ="password">
            </div>
            <div class ="forget-pass">
                <a href="#">Forget Password?</a>
            </div>
            <div class="btn">
                <button type ="submit">Login page</button>
            
            </div>
            <div class="signup-Link">Registration Page 
                <a href="/register">Signup now</a>
            </div>
        </form>
    </div>
    
</body>
</html>